.container {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.strengthBar {
  display: flex;
  flex-grow: 1;
  list-style: none;
  gap: 3px;
  margin: 0;
  padding: 0;
  vertical-align: 2px;
}

.bar {
  background: #ddd;
  border-radius: 2px;
  display: inline-block;
  height: 5px;
  flex-grow: 1;
}
