.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translate(-50%, -50%);
}

.passwordForm {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.passwordField {
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  font-size: large;
}
